<% include ../../partials/header.ejs %>


<div class="container center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">criminal_id</th>
                <th scope="col">case_no</th>
                <th scope="col">prison_status</th>
                <th scope="col">gender</th>
                <th scope="col">name</th>
                <th scope="col">age</th>
                <th scope="col">photo</th>
            </tr>
        </thead>
        <tbody>

            <ul>
                <% for(var i=0; i<queryOutput.length; i++) { %>
                <tr>
                    <th scope="row">
                        <%= queryOutput[i].criminal_id %>
                    </th>
                    <td>
                        <%= queryOutput[i].case_no %>
                    </td>
                    <td>
                        <%= queryOutput[i].prison_status %>
                    </td>
                    <td>
                        <%= queryOutput[i].gender %>
                    </td>
                    <td>
                        <%= queryOutput[i].name %>
                    </td>
                    <td>
                        <%= queryOutput[i].age %>
                    </td>
                    <td>
                        <%= queryOutput[i].photo %>
                    </td>
                </tr>
                <% } %>
            </ul>
        </tbody>
    </table>
    <form action="/criminal-records?_method=DELETE" method="POST">
        <div class="form-group">
            <label for="case_no">Case No</label>
            <input type="text" class="form-control" name="case_no" aria-describedby="emailHelp" placeholder="provide case number">
        </div>
		<button type="submit" class="btn btn-primary">Delete</button>
	</form>
</div>

<% include ../../partials/footer.ejs %>