<% include ../../partials/header.ejs %>


<div class="container center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">case_no</th>
                <th scope="col">name</th>
                <th scope="col">photos</th>
                <th scope="col">probable_reason</th>
                <th scope="col">age</th>
                <th scope="col">special_identity</th>
            </tr>
        </thead>
        <tbody>

            <ul>
                <% for(var i=0; i<queryOutput.length; i++) { %>
                <tr>
                    <td>
                        <%= queryOutput[i].case_no %>
                    </td>
                    <td>
                        <%= queryOutput[i].name %>
                    </td>
                    <td>
                        <%= queryOutput[i].photos %>
                    </td>
                    <td>
                        <%= queryOutput[i].probable_reason %>
                    </td>
                    <td>
                        <%= queryOutput[i].age %>
                    </td>
                    <td>
                        <%= queryOutput[i].special_identity %>
                    </td>
                </tr>
                <% } %>
            </ul>
        </tbody>
    </table>
    <form action="/lost_person?_method=DELETE" method="POST">
        <div class="form-group">
            <label for="case_no">Case No</label>
            <input type="text" class="form-control" name="case_no" aria-describedby="emailHelp" placeholder="provide case number">
        </div>
		<button type="submit" class="btn btn-primary">Delete</button>
	</form>
</div>

<% include ../../partials/footer.ejs %>