<% include ../../partials/header.ejs %>


<div class="container center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">case_no</th>
                <th scope="col">murder_weapon</th>
                <th scope="col">scene_photos</th>
                <th scope="col">condition_of_body</th>
                <th scope="col">age</th>
                <th scope="col">victim_details</th>
            </tr>
        </thead>
        <tbody>

            <ul>
                <% for(var i=0; i<queryOutput.length; i++) { %>
                <tr>
                    <td>
                        <%= queryOutput[i].case_no %>
                    </td>
                    <td>
                        <%= queryOutput[i].murder_weapon %>
                    </td>
                    <td>
                        <%= queryOutput[i].scene_photos %>
                    </td>
                    <td>
                        <%= queryOutput[i].condition_of_body %>
                    </td>
                    <td>
                        <%= queryOutput[i].age %>
                    </td>
                    <td>
                        <%= queryOutput[i].victim_details %>
                    </td>
                </tr>
                <% } %>
            </ul>
        </tbody>
    </table>
</div>

<% include ../../partials/footer.ejs %>