<% include ../../partials/header.ejs %>


<div class="container center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">case_no</th>
                <th scope="col">murder_weapon</th>
                <th scope="col">scene_photo</th>
                <th scope="col">condition_of_body</th>
                <th scope="col">age</th>
                <th scope="col">victim_details</th>
            </tr>
        </thead>
        <tbody>

            <ul>
                <% for(var i=0; i<queryOutput.length; i++) { %>
                <tr>
                    <td>
                        <%= queryOutput[i].case_no %>
                    </td>
                    <td>
                        <%= queryOutput[i].murder_weapon %>
                    </td>
                    <td>
                        <%= queryOutput[i].scene_photo %>
                    </td>
                    <td>
                        <%= queryOutput[i].condition_of_body %>
                    </td>
                    <td>
                        <%= queryOutput[i].age %>
                    </td>
                    <td>
                        <%= queryOutput[i].victtim_details %>
                    </td>
                </tr>
                <% } %>
            </ul>
        </tbody>
    </table>
    <form action="/murder?_method=DELETE" method="POST">
        <div class="form-group">
            <label for="case_no">Case No</label>
            <input type="text" class="form-control" name="case_no" aria-describedby="emailHelp" placeholder="provide case number">
        </div>
		<button type="submit" class="btn btn-primary">Delete</button>
	</form>
</div>

<% include ../../partials/footer.ejs %>